
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}


i{
    font-size: 1.5em;
    color: #fef9f9;
    cursor: pointer;

}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    padding-right: 40px;

    background-color: #000;
}


.col-1{
    display: flex;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;

}

.logo-img{
    margin-left: 5px;
    position: relative;
    width: 150px;
    height: 50px;

}

.col-2{
    display: flex;
    align-items: center;
    flex-basis: 40%;
    margin-left: 40px;


}

.col-2 form{
    position: relative;
    width: 100%;
}


.col-2 input{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color:  #131313;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 12px;
    color: #fff;
    font-size: 1em;

}



.col-2 .search{
    min-width: 16px;
    height: 40px;
    
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    border: none;
    outline: none;
}



.col-2 .mic{
    min-width: 40px;
    height: 40px;
    
    /* background-color: #b21010; */
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    border: none;
    outline: none;
    margin-left: 10px;

}


.col-3{
    display: flex;
    align-items: center;
    

}

.col-3 i{
    margin-left: 25px;

}


/* ///// */


/* sidebar
 */

 .wrapper{
    display: flex;
    position: fixed;
    height: calc(100vh - 60px);
    top: 60px;
    background-color: #121212;


 }

 .sidebar{
    width: 240px;
    background-color: #000;
    /* overflow-y: scroll; */
    color: #fff;
 }


 .list1{
    display: flex;
    flex-direction:column;
 }


 .sidebar-item{
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    height: 40px;

 } 

 hr{
    border: 1px solid rgba(255,255,255,0.553);
    margin: 12px 0px;

 }
 h4{
    font-size: 1.0em;
    color: #eae7e7;
    text-transform: uppercase;
    margin-left: 20px;

 }

 .sidebar-item i{
    margin-right: 20px;

 }


 /*  */

.content{
    width: calc(100vw - 200px);
}

.tag-line{

        /* overflow-x: scroll; */

        background-color: #181818;

        display: flex;

        padding-left: 10px;

        border-top: 1px solid rgba(255, 255, 255, 0.1);

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

} 

.tag {

        margin: 12px 6px;

        background-color: #373737;

        padding: 6px 12px;

        border: 2px solid rgba(255, 255, 255, 0.1);

        border-radius: 15px;

        cursor: pointer;

        color: #fff;

}

.video-wrapper {

        height: 100vh;

        display: grid;

        grid-template-columns: repeat(3, 1fr);

        gap: 5px 20px;

        padding: 20px 25px;

        overflow-y: scroll;

} 

.video{
    position: relative;
    transition: .2s;
    transition-delay: .2s;
    height: 400px;
    border: 1px solid #504050;
    border-radius: 10px;
    overflow: hidden;

}

.video-content{
    position: relative;
    height: 65%;
    width: 100%;
}

.video-content img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.video-details{
    display: flex;
    color: #fff;
    padding-top: 10px;

}

.channel-logo{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 10px;

}


.detail{
    margin-left: 10px;
}

.channel-name{
    font-size: 0.8em;
    margin-top: 10px;
    color: #aaa;
    

}






































  